<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Allure Touch</title>
    <link href="~/Content/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/css/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/css/style.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/css/hovernav.css" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/modernizr-2.6.2.js"></script>
</head>

<body>
    <div id="logo" class="row">
        <div class="col-md-2 col-md-offset-5"><a href="@Url.Action("Index", "Home")"><img src="~/Content/images/logo.jpg" /></a></div>
    </div>

    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>

            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li id="menu-item-home" class="active"><a title="Home page" href="@Url.Action("index", "Home")">HOME<span class="sr-only">(current)</span></a></li>
                    <li id="menu-item-services"><a title="Services &amp; Prices" href="@Url.Action("services-and-prices", "Home")">SERVICES &amp; PRICES</a></li>
                    <li id="menu-item-portfolio">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">PORTFOLIO <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li id="menu-item-realistic"><a title="Realistic Photo Editing" href="@Url.Action("realistic", "Home")">REALISTIC PHOTO EDITING</a></li>
                            <li id="menu-item-fashion"><a title="Fashion &amp; Creative Photo Editing" href="@Url.Action("fashion", "Home")">FASHION &amp; CREATIVE PHOTO EDITING</a></li>
                        </ul>
                    </li>
                    <li id="menu-item-faq"><a title="FAQ" href="@Url.Action("faq", "Home")">FAQ</a></li>
                    <li id="menu-item-blog"><a title="Blog" href="@Url.Action("blog", "Home")">BLOG</a></li>
                    <li id="menu-item-contact"><a title="Contact Us" href="@Url.Action("contact-us", "Home")">CONTACT US</a></li>
                </ul>
            </div>
        </div>
    </nav>




    @RenderBody()
    <nav class="navbar navbar-default navbar-bottom" role="navigation">
        <div class="container">
            <p>
                <a title="Home page" href="@Url.Action("Index", "Home")">Home</a> |
                <a title="FAQ" href="@Url.Action("faq", "Home")">FAQ</a> |
                <a title="Blog" href="@Url.Action("blog", "Home")">Blog</a> |
                <a title="Contact Us" href="@Url.Action("contact-us", "Home")">Contact Us</a> |
                <a title="Privacy Policy" href="http://alluretouch.com/privacy-policy/">Privacy Policy</a> |
                <a title="Terms of Service" href="http://alluretouch.com/terms-of-service/">Terms of Service</a>
            </p>
        </div>
    </nav>

    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/Main.js"></script>
    <script src="~/Scripts/hovernav.js"></script>
</body>
</html>