<div id="faq-main-content-container">
    <h1 class="text-center title">Frequently Asked Questions and Answers</h1>
    <img src="~/Content/images/line-diamond-line.png" class="center-block line-diamond-line-separator" />
    <p class="text-center italic-text">Click on the questions to view the answers:</p>

    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
        <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingOne">
                <h4 class="panel-title">
                    <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                        <i class="fa fa-plus"></i> How does AllureTouch work?
                    </a>
                </h4>
            </div>
            <div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                <div class="panel-body">
                    <ol>
                        <li>Choose your desired photo editing type (<a href="@Url.Action("services-and-prices", "Home")">Click here</a> to view photo editing services and prices)</li>
                        <li>Click <b>GET STARTED</b> button</li>
                        <li>You will see the form. Fill in your details, choose the service(s) and upload your photo(s). In case of background replacement - upload the background image you would like to appear in the final image or let us know which background you would like us to find for you. Let us know any specific details and your requirements for the photo editing for each photo. If your images are too large, you can upload them via Dropbox, Google Drive or any other storage, and share a link with us, pasting it to the Photo Editing Instructions field.</li>
                        <li>Click <b>Submit button</b></li>
                        <li>Proceed with the <b>Payment</b> and you will receive your order confirmation</li>
                        <li>Our team will check your photo(s) and your instructions and start the photo editing magic! In case if your instructions unclear to our retouchers, we will contact you and seek clarification.</li>
                        <li>You will get your edited  photo(s) on time via email you have provided when filling in the order form.</li>
                    </ol>
                </div>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingTwo">
                <h4 class="panel-title">
                    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                        <i class="fa fa-plus"></i> Does AllureTouch work with women only?
                    </a>
                </h4>
            </div>
            <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                <div class="panel-body">
                    <p>
                        According to recent research 80% of women in U.S. are unhappy with their appearances.
                        Partly that happens because of the society's idea of the perfect female face and body image.
                        Women see the perfect bodies and faces of the celebrities and models everywhere: in media, magazines,
                        internet and movies. They compare their bodies and faces to these and start feeling insecure.
                        The mission of AllureTouch is to make any woman look alluring in any photo. We want to prove you
                        that you are as attractive as a model or a celebrity. They get their photos edited to look glamorous -
                        you deserve that too! We want to help women feel more confident, more secure and more attractive.
                        AllureTouch is created for women but anyone can use our services. We can edit male and children photos,
                        family portraits, objects or landscapes. <a href='@Url.Action("contact-us", "Home")'>Contact us</a> regarding any specific requests.
                    </p>
                </div>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingThree">
                <h4 class="panel-title">
                    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                        <i class="fa fa-plus"></i> Can I submit amateur photos and selfies for editing?
                    </a>
                </h4>
            </div>
            <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                <div class="panel-body">
                    <p>
                        Absolutely! We work with all photos - professional and amateur. You can send us your selfies as well.
                        However, the better the quality and resolution of the photo, the better the result.
                    </p>
                </div>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingFour">
                <h4 class="panel-title">
                    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                        <i class="fa fa-plus"></i> Is  photo editing ethical?
                    </a>
                </h4>
            </div>
            <div id="collapseFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour">
                <div class="panel-body">
                    <p>
                        There are people who are against photo editing. Some say it is unethical because it changes the reality.
                        However, we sometimes forget that when we take a photo we do not make a perfectly objective recording of
                        reality. What photography makes is an interpretation of reality. Photography is an art, not a reality,
                        as well as photo editing. Photo manipulation is a usual and very old practice in photography – it has its
                        roots in Ancient Egypt. There is nothing bad about photo editing and enhancing your selfie.
                    </p>
                </div>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingFive">
                <h4 class="panel-title">
                    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                        <i class="fa fa-plus"></i> What tools and software does AllureTouch use to edit photos?
                    </a>
                </h4>
            </div>
            <div id="collapseFive" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFive">
                <div class="panel-body">
                    <p>
                        We are human powered photo editors. Every picture is edited by an Adobe Photoshop expert and artist
                        in AllureTouch. We use professional photo manipulation plugins, filters and technologies that are
                        among the best in the industry.
                    </p>
                </div>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingSix">
                <h4 class="panel-title">
                    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
                        <i class="fa fa-plus"></i> What is the difference between AllureTouch and free online photo editing apps?
                    </a>
                </h4>
            </div>
            <div id="collapseSix" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingSix">
                <div class="panel-body">
                    <p>
                        AllureTouch is not free. All your photos will be edited manually by our artists,
                        using their expertise, the best tools and professional software. Free online software,
                        apps and photo editors are quick and easy to use, but they will never give you the same
                        result as high quality photos edited by human powered photo editors.
                    </p>
                </div>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingSeven">
                <h4 class="panel-title">
                    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">
                        <i class="fa fa-plus"></i> Are my submitted photos and personal details private and secure?
                    </a>
                </h4>
            </div>
            <div id="collapseSeven" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingSeven">
                <div class="panel-body">
                    <p>
                        We take the privacy and confidentiality of all your personal data and images very seriously.
                        We guarantee confidentiality and privacy protection of your personal data and images. Neither
                        your photos nor your personal information are ever shared with third parties. You are the only
                        copyright owner of your images - AllureTouch does not claim any copyright to your photos or to
                        the final edited photos.
                    </p>
                </div>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingEight">
                <h4 class="panel-title">
                    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseEight" aria-expanded="false" aria-controls="collapseEight">
                        <i class="fa fa-plus"></i> Are my transactions secure when buying from AllureTouch?
                    </a>
                </h4>
            </div>
            <div id="collapseEight" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingEight">
                <div class="panel-body">
                    <p>
                        Yes, all your transactions are secure. The security of your payment information is very important to us.
                        We have SSL certificate to protect your information and keep your data and transactions safe.
                    </p>
                </div>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingNine">
                <h4 class="panel-title">
                    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseNine" aria-expanded="false" aria-controls="collapseNine">
                        <i class="fa fa-plus"></i> What is the minimum size of the photo you can edit?
                    </a>
                </h4>
            </div>
            <div id="collapseNine" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingNine">
                <div class="panel-body">
                    <p>
                        Minimum size: 1024 x768 pixels. Photo cameras and most of the modern smartphones let users take
                        photos much larger than that. Don't resize your photos when submitting them to us - the bigger
                        the photo the better.
                    </p>
                </div>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingTen">
                <h4 class="panel-title">
                    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTen" aria-expanded="false" aria-controls="collapseTen">
                        <i class="fa fa-plus"></i> What are the uses of the photos edited by AllureTouch?
                    </a>
                </h4>
            </div>
            <div id="collapseTen" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTen">
                <div class="panel-body">
                    <p>
                        It depends. You can use them everywhere you want to. We can edit your photo to look more professional in
                        a LinkedIn profile or resume. We can edit your photo to look more attractive in your dating profile
                        or social media networks. We can enhance your maternity, wedding or graduation photographs.
                        We can create an art from a simple photo. We can help you to express your feelings through your picture.
                        We can edit your mother's, sister's, daughter's, friend's or other loved ones pictures. We can edit your
                        photos for any of your desired purposes. <a href='@Url.Action("contact-us", "Home")'>Let us know your thoughts</a>!
                    </p>
                </div>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingEleven">
                <h4 class="panel-title">
                    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseEleven" aria-expanded="false" aria-controls="collapseEleven">
                        <i class="fa fa-plus"></i> Can I get a discount if I submit more than one photo for editing?
                    </a>
                </h4>
            </div>
            <div id="collapseEleven" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingEleven">
                <div class="panel-body">
                    <p>We apply special volume discounts to all our services:</p>
                    <ul>
                        <li>-10% off over 5 photos</li>
                        <li>-15% off over 15 photos</li>
                        <li>-25% off over 25 photos</li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingTwelve">
                <h4 class="panel-title">
                    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwelve" aria-expanded="false" aria-controls="collapseTwelve">
                        <i class="fa fa-plus"></i> What is the difference between realistic, fashion and creative photo editing services?
                    </a>
                </h4>
            </div>
            <div id="collapseTwelve" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwelve">
                <div class="panel-body">
                    <p>
                        Realistic, natural photo editing is perfect for you if you would like to slightly adjust your picture.
                        We can improve your skin tone, remove blemishes or wrinkles without airbrushing, enhance your eyes, add
                        natural makeup, slim you down and more. We will clean the background of the photo, adjust colors, exposure
                        and add your desired effects. This service is perfect for you if you would like to look naturally alluring.
                        We can replace the background of your image with the other one, for an additional fee.
                        <a href='@Url.Action("realistic", "Home")'>Click here</a> to view realistic photo editing examples.
                        Fashion or creative photo editing is perfect for you if you would like to have an in-depth modification
                        to your picture, photo montage, merged photos and complex digital effects. We can replace the background
                        of your image with the other one, make you look like a dark beauty, pin-up girl, glamorous model and more.
                        This service is perfect for you if you love art, fashion, or would like to express your feelings through
                        photo. <a href='@Url.Action("fashion-and-creative")'>Click here</a> to view fashion and creative photo editing
                        examples. <a href='@Url.Action("services-and-prices", "Home")'>Click here</a> to learn more about our services and prices.
                    </p>
                </div>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingThirteen">
                <h4 class="panel-title">
                    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThirteen" aria-expanded="false" aria-controls="collapseThirteen">
                        <i class="fa fa-plus"></i> What if I don't like the photo editing result?
                    </a>
                </h4>
            </div>
            <div id="collapseThirteen" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThirteen">
                <div class="panel-body">
                    <p>
                        We pride ourselves on providing our customers with the highest level of customer satisfaction.
                        That's why we take our customer feedback very seriously. Don't like how we edited your photo?
                        <a href='@Url.Action("contact-us", "Home")'>Contact us</a> within 5 days after service delivery,
                        provide your feedback and we will make the corrections you need.
                    </p>
                </div>
            </div>
        </div>

    </div>

    <div class="center-block faq-bottom-text">
        <p class="text-center">
            Couldn't find an answer to your question? Use our chat service and chat to one of our client support
            representatives or <a href='@Url.Action("contact-us", "Home")'>Contact us</a> and we will respond as soon as possible.
        </p>
    </div>


<hr class="center-block faq-lower-hr"/>

</div>